# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = btbtdy.settings

[deploy]
url = https://scrapyd-serve1.herokuapp.com/
project = btbtdy
